html(ng-app='postits')
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
		title Postits
		link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic')
		link(rel="stylesheet" href='http://fonts.googleapis.com/css?family=Englebert')
		link(rel='stylesheet' href='assets/libs/normalize.css/normalize.css')
		link(rel='stylesheet' href='assets/libs/milligram/dist/milligram.min.css')
		link(rel='stylesheet' href='assets/css/components.css')
		link(rel='stylesheet' href='assets/css/utils.css')
	body(ng-controller='homeCtrl')
		.container
			h1.text-center Postits 

			.row
				form.column.column-60
					input(type='search' placeholder='Search Postit...' ng-model='noteFilter')
				button.float-right.column.column-offset-20.column-20(ng-click='addNote()') New PostIt

		.notes
			label(ng-if='!notes.length') No postits yet :( <br> Click in 'NEW POSTIT' to start
			
			.note(ng-repeat='note in notes | orderBy:"-updatedAt" | filter: noteFilter' ng-class='$odd ? "note-type-b" : "note-type-a"')
				textarea(
					class='note-content text-center'
					placeholder='Type content here'
					ng-model='note.content'
					ng-blur='blurNote(note)'
				)
			

		//Scripts
		script(src='assets/libs/angular/angular.min.js')
		script(src='assets/libs/angular-resource/angular-resource.min.js')
		script(src='assets/js/module.js')
		script(src='assets/js/constants.js')
		script(src='assets/js/services.js')
		script(src='assets/js/controllers.js')
